body {
    animation: changeBg 5s infinite;}
@keyframes changeBg{
    0%{
        background: #612d2a;
    }
    25%{
        background: #368a5b;
    }
    50%{
        background: #90b145;
    }
    75%{
        background: #8f763b;
    }
    100%{
        background: #30277c;
    }
}


#carouselExampleIndicators{
    width: 800px;
    margin: 15px auto;
    border: 8px solid rgb(53, 5, 5);
}
.menu{
    color: black;
    margin: auto 0 0 2%;
}
#menuemulators{
    width: 20%;
    margin: auto;
}

article{
    margin: 15px 15px 15px 0px;
    float: left;
}
.contenedor{
    background: #333;
    border: 10px solid rgb(21, 137, 144);
    margin: 10px auto;
    width: 90%;
    height: 750px;
    color: white;
}
.contenedormenu{
    background-color: #333;
    border: 10px solid rgb(21, 137, 144);
    margin: 20px auto;
    width: 85%;
    height: 1400px;
    color: white;
}
.contenedorcontacto{
    background-color: #333;
    border: 10px solid rgb(21, 137, 144);
    margin: 10px auto;
    width: 85%;
    height: 700px;
    color: white;
}
#noticiasarticulo{
    width: 70%;
    border: 2.5px solid rgb(117, 45, 45);
    text-align: left;
    margin: 10px 10px;
}

#noticiasarticuloinicio{
    width: 90%;
    text-align: center;
    margin: auto;
}
.textoarticulo{
    margin: 0 2% 0 2%;  
}
.textoarticuloinicio{
    margin: 1% 1% 0 10%;  
}
#emulatorlist{
    width: 27%;
    
}
ul{
    padding: 0px 0px 0px 10px;
    font-size: 20px;
}

.container{                     /*card*/
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    perspective: 1000px;
    height: 250px;
    width: 200px;
    position: relative;
    margin: 5px;
    background-color: rgb(97, 45, 45);
    text-align: center;
}
.card img{
    width: 100%;
}
.card .back{
    position: absolute;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 0.4s linear;
}
.card .front{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.4s linear;
}
.card:hover .back{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.card:hover .front{
    transform: rotateY(0deg);
    cursor: pointer;
}

footer{
    height: 150px;
    background: rgba(0, 0, 0, 0.504);
    margin: 10px;
    text-align: center;
    color: white;
}
.footer1{
    margin: 1% 0 0 20%;
}
.footer2{
    margin: 1% 0 0 5%;
}

#descriptionconsole{
    padding: 10px;
    text-align: left;
}
#consolasmenu{
    width: 25%;
    margin: 0 30%;
}