body {
    background: rgb(45,133,253);
    background: radial-gradient(circle, rgba(45,133,253,1) 9%, rgba(0,0,0,1) 93%);
}
.titulo{
    text-align: center;
}

.logo{
    height: 70px;
    width: 250px;
    margin: 30px;
}

#carouselExampleIndicators{
    width: 60%;
    margin: 15px 0 15px 20%;
}
.menu{
    color: black;
    margin: auto 0 0 2%;
}
#menuemulators{
    width: 20%;
    margin: 0;
}
